/* reset page...------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* proprietà flex ---------------------------------------------- */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* sezione del logo e navbar------------------------------------------ */
.container_logo_nav{
    width: 85%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

#logo > img{
    width: 120px;   
}

.navbar ul{
    list-style: none;
}
.navbar li{
    display: inline-block;
    color: #C9C9C9;
    text-transform: uppercase;
    padding: 10px;
}
/* set img star page --------------------------------------------- */
.img_star{
    width: 85%;
    margin: auto;
    filter: brightness(0.6);   
}

.hero_image > img{
    object-fit: cover;
    width: 100%;
    height: 650px;
    border-radius: 20px;  
}
  
.hero_text {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-60%, -45%);
    color: rgb(49 20 20 / 55%);
} 

/* set main struttura----------------------------------------------- */
.container{
    width: 85%;
    margin: auto;
 /* height: 600px; */
}

/* sezione heder di main------------------------------------------- */
header{
    margin: 40px 2px;
    width: 100%;
    font-size: 1.6rem;
}
header > p{
    color: lightgray;
}

/* col sinistra desta proprietà comuni----------------------------------- */
.col_left, .col_right{
    width: 20%;
    height: 100%;
    float: left;
    padding: 10px;
}
.col_left > img, .col_right > img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    filter: brightness(0.6);
}


/* colonna centrale------------------------------------------------- */
.col_center > img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 222px;
    filter: brightness(0.6);
    border-radius: 10px;
}

.col_center{
    width: 60%;
    height: 100%;
    float: left;
    padding: 10px;
}



/* footer---------------------------------------------------*/
footer{
    width: 85%;
    margin: 25px auto;
    height: 100px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
#cuore:after {
    content: ' \2764';
    color: red;
}